<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulking Diet - Meals</title>
    <link rel="stylesheet" href="/styles/daystyle.css">
</head>
<body>

    <%- include('partials/navbar') %>
    
    <div class="menu">
        <div class="heading">
            <h1>Bulking Diet</h1>
            <h3>&mdash; BREAKFAST &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low1.png" alt="low1">
            <div class="details">
                <div class="details-sub">
                    <h5>Cereal</h5>
                </div>

                <p>Make a big batch of this granola and have an easy breakfast ready all week long.</p>
                <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low2.png" alt="low2">
            <div class="details">
                <div class="details-sub">
                    <h5>Chocolate Pudding</h5>
                </div>

                <p>Make a tasty, healthy chocolate pudding in just five minutes.
                     It's low-calorie and vegan, too, and the chia seeds are a great
                      source of omega-3 fatty acids</p>
                      <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low3.png" alt="low3">
            <div class="details">
                <div class="details-sub">
                    <h5>Banana Oat Pancakes</h5>
                </div>

                <p>Make our healthier pancakes using rolled oats and banana
                     for natural sweetness. Serve with a dollop of creamy 
                     yogurt and fresh fruit</p>
                     <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="heading">
            <h1>Bulking Diet</h1>
            <h3>&mdash; LUNCH &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low4.png" alt="low4">
            <div class="details">
                <div class="details-sub">
                    <h5>Grilled Chicken</h5>
                </div>

                <p>Grilled chicken gets a fresh flavor boost from homemade bruschetta
                     and slices of cheesy mozzarella.It is topped with the
                      mozzarella while on the grill, creating a cheesy, melty goodness,
                       before being topped with your fresh bruschetta.</p>
                       <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low5.png" alt="low5">
            <div class="details">
                <div class="details-sub">
                    <h5>Cheesy Bacon Ranch Chicken</h5>
                </div>

                <p>They are a perfect quick and make for a perfect weekly lunch
                     when paired with some garlicky broccoli or kale. </p>
                     <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low6.png" alt="low1">
            <div class="details">
                <div class="details-sub">
                    <h5>Big Mac Salad</h5>
                </div>

                <p>  To make a salad that was anything but boring, we decided to 
                    turn the classic Big Mac flavors into a delicious salad. 
                    Think of your favorite burger plus the satisfying crunch of 
                    a salad all in one bite…what’s not to love?</p>
                    <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="heading">
            <h1>Bulking Diet</h1>
            <h3>&mdash; DINNER &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low7.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Protein Pizza</h5>
                </div>

                <p>Our favorite use of cauliflower as a culinary master 
                    of disguise is in pizza crust. It might sound crazy
                     but it can be a delicious and healthy alternative to the classic.</p>
                     <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low8.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Beef & Broccoli Noodles</h5>
                </div>

                <p>They can really hold their own with this boldly flavored hoisin
                     sauce—made naturally sweet with fresh-squeezed orange juice—and 
                     seared strips of steak. And don’t skip the ginger!
                      It really pulls this dish together. </p>
                      <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_low9.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Egg Noodles</h5>
                </div>

                <p>Cacio E Pepe is one of our all time FAVORITE pasta dishes.
                     This lightened-up version calls for making your pasta from 
                     scratch—the good news is it's SO much easier than it sounds.</p>
                <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <script>
        function showSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "flex";
        }
        function hideSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "none";
        }
      </script>
</body>
</html>