<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keto Diet - Meals</title>
    <link rel="stylesheet" href="/styles/daystyle.css">
</head>
<body>
    
    <%- include('partials/navbar') %>
    
    <div class="menu">
        <div class="heading">
            <h1>Keto Diet</h1>
            <h3>&mdash; BREAKFAST &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto1.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Baked Eggs & Zoodle Bundles</h5>
                </div>

                <p>These zucchini bundles are easy to make and quite satisfying. 
                Topped with a dollop of pesto-yogurt and an egg, this vegetarian 
                dish will satisfy any morning craving.</p>
                <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_1keto2.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Keto Breakfast Casserole</h5>
                </div>

                <p>The classic combo of Italian sausage, broccoli rabe, and basil
                     lends itself to a recipe that is easy to whip up for an
                      impressive breakfast or brunch.</p>
                <a href="/recipe2"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_1keto3.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Keto Pancakes</h5>
                </div>

                <p>There is nothing more comforting than a big stack of pancakes
                     for breakfast. Choosing to follow the Keto diet does not
                      mean you have to give that up.</p>
                <a href="/recipe3"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="heading">
            <h1>Keto Diet</h1>
            <h3>&mdash; LUNCH &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto4.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Brussels Sprouts Hash</h5>
                </div>

                <p>They are amazing roasted, go great with mac and cheese,
                     and now they make up the best low-carb hash. We keep
                      falling more and more in love.</p>
                <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto5.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Avocado Egg Boats</h5>
                </div>

                <p>Stuffed avocados are our favorite way to eat the power fruit.
                 It's creamy texture pairs perfectly with a just set egg and crispy bacon.
                 It's a power breakfast move or healthy snack that will keep you moving! </p>
                 <a href="/recipe4"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto6.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Garlic Butter Meatballs & Zoodles</h5>
                </div>

                <p> Low-carb and gluten-free, this is a simple recipe that will 
                    deliver on that rich pasta sauce taste, while helping you get
                     in another helping of veggies.</p>
                <a href="/recipe3"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="heading">
            <h1>Keto Diet</h1>
            <h3>&mdash; DINNER &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto7.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Keto Chicken Parmesan</h5>
                </div>

                <p>No one can deny a good chicken parm. This version,
                 coated with almond flour and LOTS of parmesan, is both keto-friendly
                  and completely irresistible. We're hooked.</p>
                  <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto8.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Keto Mac & Cheese</h5>
                </div>

                <p>This low-carb version gets rid of the non-keto ingredients 
                    (ahem, PASTA) without sacrificing flavor. Instead of pasta,
                     we use cauliflower (and 3 types of cheese!) to create this creamy
                     , cheesy dish that is just as comforting as the original.</p>
                     <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

        <div class="food-items">
            <img src="./images/img/rsz_keto9.png" alt="keto1">
            <div class="details">
                <div class="details-sub">
                    <h5>Keto Fried Chicken</h5>
                </div>

                <p>To make a Keto Friendly fried chicken we skipped the flour 
                    and went for beef rinds and Parmesan. Almond flour helps adhere
                     everything together as well for a perfectly crisp chicken.</p>
                     <a href="/recipe1"><button class="recipe">View Recipe</button></a>
            </div>
        </div>

    </div>

    <script>
        function showSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "flex";
        }
        function hideSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "none";
        }
      </script>
</body>
</html>