<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login_signup.css" />
    <title>Shafeshift</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Email" required />
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p>
      Do not have an accout? <span><a href="/signup">Sign Up</a></span>
    </p>
    <!-- Showing errors -->
    <% if (typeof error !== 'undefined') { %>
    <script>
      const alertMessage = "<%= error %>";
      if (alertMessage) {
        alert(alertMessage);
      }
    </script>
    <% } %>
  </body>
</html>
