<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plans</title>
    <link rel="stylesheet" href="/styles/planstyle.css">
</head>
<body>

    <%- include('partials/navbar') %>

    <div class="gallery">

        <div class="content">
            <img src="./images/img/rsz_keto.png" alt="Keto">
            <h3>Keto Diet</h3>
            <p>Ensure a balance of healthy fats, proteins, and low-carb vegetables</p>
            <a href="/keto"><button class="getstarted">Get Started</button></a>

            
        </div>

        <div class="content">
            <img src="./images/img/rsz_lowcarb.png" alt="Low-Carb">
            <h3>Low-Carb Diet</h3>
            <p>This diet encourages the body to burn stored fat for energy.</p>
            <a href="/lowcarb"><button class="getstarted">Get Started</button></a>
        </div>

        <div class="content">
            <img src="./images/img/rsz_1weightloss.png" alt="Weightloss">
            <h3>Weight-Loss Diet</h3>
            <p>Reduce calorie intake and make healthier food choices.</p>
            <a href="/weightloss"><button class="getstarted">Get Started</button></a>
        </div>

        <div class="content">
            <img src="./images/img/bulk_rsz.png" alt="Bulk">
            <h3>Bulking Diet</h3>
            <p>Promote muscle growth and increase body mass.</p>
            <a href="/bulk"><button class="getstarted">Get Started</button></a>
        </div>

    </div>

    <script>
        function showSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "flex";
        }
        function hideSidebar() {
          const sidebar = document.querySelector(".responsive_sidebar");
          sidebar.style.display = "none";
        }
      </script>
    
</body>
</html>