/* bmihistory.css */
body {
    background-image: url('/images/green-background.jpg');
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}
.history-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.bmi-history-page-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 130px;
    border-radius: 5px;
    background-color: #00B830;
    padding: 12px;
    transition: color 0.8s ease, background-color 0.8s ease, border-color 0.5s ease;
}

.bmi-history-page-btn:hover {
    background-color: white;
    color: #00B830;
    border: #00B830 solid 2px;

}